.name {
    font-size: 26pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    letter-spacing: 3px;
    word-spacing: 10px;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
    text-indent: 10px;
    margin-top: 0px;
    letter-spacing: 3px;
}

.home-background {
    background-color: darkgray;
}

div {
    background-image: url(https://scontent-ort2-2.xx.fbcdn.net/v/t31.18172-8/22426172_1013841115423707_1395195629733653780_o.jpg?_nc_cat=110&ccb=1-5&_nc_sid=174925&_nc_ohc=RvaMyXQb2tAAX-uH0o6&_nc_ht=scontent-ort2-2.xx&oh=00_AT9WITm5dosvZ6YK0P-MnrtTg9Dx0BtTHXX3O9x0pyc1XQ&oe=62858E74);
    height: 750px;
    width: 750px;
    background-size: 750px;
    border-radius: 10px;
    margin: auto;
}

.menu:hover {
    background-color: darkgrey;
}

.menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    display: block;
    background-color: black;
    color: white;
    padding: 12px;
    text-decoration: none;
    border-style: solid;
    border-radius: 10px;
    
    width: fit-content;
}

.credits-background {
    background-color: rgb(54, 64, 79);
}

th {
    text-decoration: underline;
}

th, td {
    text-align: left;
    column-width: 300px; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

caption {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 26pt;
    font-weight: bold;
    background-color: darkgray;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

table {
    background-color: darkgray;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.headshot {
    width: 400;
    height: 500;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.about-background {
    background-color: rgb(54, 64, 79);
}

.bio {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22pt;
    word-spacing: 7px;
    line-height: 28pt;
    text-align: justify;
    padding-top: 30px;
    color: white;
    margin-left: 450px;
    margin-right: 3%;
    padding-bottom: 120px;
    min-width: 400px;
    max-width: 400px;
}

.contactInfo {
    background: black;
    color: white;
    margin-top: -75px;
    width: 700px;
    height: 65px;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    font-size: 16pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fb, .email, .linkedIn {
    text-decoration: none;
    margin: 20px 20px 0px 20px;
    font-size: 30px;
    color: white;
}
